@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

/* Общий экран */
.wrapper {
    width: 100vw;
    height: 100vh;
    background: #F4EEF5;
}

/* Главный фрейм - dashboard/home */
.hero-frame {
    display: flex;
    flex-direction: row;
}

/* Сайдбар */
.hero-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 240px;
    background: linear-gradient(135deg, #1A249C, #0B1E3B);
    padding: 20px;
    height: 100vh;
}

/* Логотип CRM-системы */
.hero-logo {
    padding-bottom: 13px;
}

.hero-logo > a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title-logo {
    font-weight: 700;
    background: linear-gradient(135deg, #F2A7FF, #8A9BFF);
    font-size: 45px;
    background-clip: text;
    color: transparent;
}

.subtitle-logo {
    display: flex;
    flex-direction: column;
}

.sub1 {
    color: #F4EEF5;
    font-size: 14.5px;
}

.sub2 {
    color: #F4EEF5;
    font-size: 14.5px;
}

/* Кнопки-направляющие */
.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-buttons > a {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 3px;
}

.hero-buttons > a > span {
    color: #F4EEF5;
}

.button-icon {
    padding-left: 15px;
}

.button-icon > img {
    width: 30px;
    height: 30px;
}

.sidebar-link {
    background: linear-gradient(135deg, #C985F5, #2038D9);
    border-radius: 12px;
    width: 195px;
    height: 45px;
}

/* Текущая смена */
.hero-current-shift {
    background: linear-gradient(135deg, #8A9BFF, #2038D9);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-between;
    padding: 20px;
    height: 135px;
}

.shift-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shift-title {
    color: #F4EEF5;
    font-size: 16px;
    font-weight: 700;
}

.shift-time {
    color: #F4EEF5;
    font-size: 20px;
    font-weight: 600;
}

.shift-start {
    padding: 5.5px 0 5.5px 0;
    border-radius: 7px;
    background: #6ED4F2;
    color: #F4EEF5;
    border: none;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.20);
}

/* выйти с системы */
.hero-logout {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-line {
    width: 195px;
    height: 1px;
    background: #F4EEF5;
}

.button-logout {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-left: 15px;
    align-items: center;
}

.button-logout > img {
    width: 30px;
    height: 30px;
}

.button-logout > span {
    color: #F4EEF5;
}


/* nav-bar */
.hero-navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    width: 100%;
    height: 75px;
    background: #F4EEF5;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
}

/* mmm */
.formore > img {
    width: 30px;
    height: 30px;
}

/* Поисковая строка */
.search-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #E3E3E3;
    height: 50px;
    width: 510px;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

.icon-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}
.icon-text > img {
    width: 22px;
    height: 22px;
}

.icon-text > span {
    color: #0B1E3B;
    font-size: 14px;
}

.ctrl-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C9C9C9;
    width: 60px;
    height: 30px;
    border-radius: 7px;
}

.ctrl-block > span {
    color: #0B1E3B;
    font-size: 16px;
    opacity: 76%;
}

/* часть аккаунтизаций */
.account-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.notification-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 37px;
    height: 34px;
    position: relative;
}

.notification-nav > img {
    width: 30px;
    height: 30px;
}

.notification-circle {
    position: absolute;
    width: 25px;
    height: 20px;
    background: #FF53D6;
    border-radius: 50%;
    bottom: 19px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-circle > span {
    color: #F4EEF5;
    font-size: 14px;
}


.chats-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 41px;
    height: 34px;
    position: relative;
}

.chats-nav > img {
    width: 30px;
    height: 30px;
}

.chats-circle {
    position: absolute;
    width: 25px;
    height: 20px;
    background: #FF53D6;
    border-radius: 50%;
    bottom: 20px;
    left: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chats-circle > span {
    color: #F4EEF5;
    font-size: 14px;
}

.account-line {
    width: 2px;
    height: 50px;
    background: #5B5E81;
    opacity: 60%;
    border-radius: 12px;
}

.personal-account-bloccInfoBoxCard-OtdelCadrov {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.personal-account-bloccInfoBoxCard-OtdelCadrov > img {
    width: 45px;
    height: 45px;
}

.info-personal {
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: center;
}

.personality {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
}

.personality > span {
    color: #0B1E3B;
    font-size: 16px;
}

.tochka-nevozvrata {
    color: #0B1E3B;
    opacity: 78%;
}

.info-personal > img {
    width: 20px;
    height: 20px;
}

