<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOS Restaurant System</title>
    <link rel="stylesheet" href="/static/css/style-home.css">
    <link rel="stylesheet" href="/static/css/GENERAL-style.css">
    <link rel="shortcut icon" href="favicon.svg" type="image/svg">
</head>
<body>
    <div class="wrapper">
       <div class="hero-frame">
            <div class="hero-sidebar">
                <div class="hero-logo">
                    <a href="home.html" class="link-logo">
                        <div class="title-logo">
                            VOS
                        </div>
                        <div class="subtitle-logo">
                            <div class="sub1">
                                RESTAURANT
                            </div>
                            <div class="sub2">
                                SYSTEM
                            </div>
                        </div>
                    </a>
                </div>
                <div class="hero-buttons">
                    <a href="home.html" class="sidebar-link">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/home-page.svg" alt="home-icon" type="image/svg">
                        </div>
                        <span>Главная</span>
                    </a>
                    <a href="tables.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/tables-page.svg" alt="tables-icon" type="image/svg">
                        </div>
                        <span>Столы</span>
                    </a>
                    <a href="orders.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/orders-page.svg" alt="orders-icon" type="image/svg">
                        </div>
                        <span>Заказы</span>
                    </a>
                    <a href="booking.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/booking-page.svg" alt="booking-icon" type="image/svg">
                        </div>
                        <span>Бронирование</span>
                    </a>
                    <a href="delivery.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/delivery-page.svg" alt="delivery-icon" type="image/svg">
                        </div>
                        <span>Доставка</span>
                    </a>
                    <a href="menu.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/menu-page.svg" alt="menu-icon" type="image/svg">
                        </div>
                        <span>Меню</span>
                    </a>
                    <a href="kitchen.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/kitchen-page.svg" alt="kitchen-icon" type="image/svg">
                        </div>
                        <span>Кухня</span>
                    </a>
                    <a href="clients.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/clients-page.svg" alt="clients-icon" type="image/svg">
                        </div>
                        <span>Клиенты</span>
                    </a>
                    <a href="personal.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/personal-page.svg" alt="personal-icon" type="image/svg">
                        </div>
                        <span>Персонал</span>
                    </a>
                    <a href="analytics.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/analytics-page.svg" alt="analytics-icon" type="image/svg">
                        </div>
                        <span>Аналитика</span>
                    </a>
                    <a href="warehouse.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/warehouse-page.svg" alt="warehouse-icon" type="image/svg">
                        </div>
                        <span>Склад</span>
                    </a>
                    <a href="settings.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/settings-page.svg" alt="settings-icon" type="image/svg">
                        </div>
                        <span>Настройки</span>
                    </a>
                </div>
                <div class="hero-current-shift">
                    <div class="shift-block">
                        <div class="shift-title">
                            Текущая смена
                        </div>
                        <div class="shift-time">
                            19:00 — 07:00
                        </div>
                    </div>
                    <button class="shift-start">
                        Начать смену
                    </button>
                </div>
                <div class="hero-logout">
                    <div class="hero-line"></div>
                    <a href="logout.html" class="button-logout">
                        <img src="/media/GENERAL-media/icons/logout-page.svg" alt="logout-icon" type="image/svg">
                        <span>Выйти</span>
                    </a>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>