<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOS Restaurant System</title>
    <link rel="stylesheet" href="/static/css/style-home.css">
    <link rel="stylesheet" href="/static/css/GENERAL-style.css">
    <link rel="shortcut icon" href="favicon.svg" type="image/svg">
</head>
<body>
    <div class="wrapper">
       <div class="hero-frame">
            <div class="hero-sidebar">
                <div class="hero-logo">
                    <a href="home.html" class="link-logo">
                        <div class="title-logo">
                            VOS
                        </div>
                        <div class="subtitle-logo">
                            <div class="sub1">
                                RESTAURANT
                            </div>
                            <div class="sub2">
                                SYSTEM
                            </div>
                        </div>
                    </a>
                </div>
                <div class="hero-buttons">
                    <a href="home.html" class="sidebar-link">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/home-page.svg" alt="home-icon" type="image/svg">
                        </div>
                        <span>Главная</span>
                    </a>
                    <a href="tables.html">
                        <div class="button-icon">
                            <img src="/media/GENERAL-media/icons/tables-page.svg" alt="">
                        </div>
                        <span>Столы</span>
                    </a>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>