<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOS Restaurant System — Главная</title>
    <link rel="stylesheet" href="/static/css/style-home.css">
    <link rel="stylesheet" href="/static/css/GENERAL-style.css">
    <link rel="shortcut icon" href="/media/GENERAL-media/favicon/VOS-GOD.svg" type="image/svg">
</head>
<body>
    <div class="wrapper">
       <div class="hero-frame">
            <div class="hero-sidebar">
                <div class="hero-logo-buttons">
                    <div class="hero-logo">
                        <a href="home.html" class="link-logo">
                            <div class="title-logo">
                                VOS
                            </div>
                            <div class="subtitle-logo">
                                <div class="sub1">
                                    RESTAURANT
                                </div>
                                <div class="sub2">
                                    SYSTEM
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="hero-buttons">
                        <a href="home.html" class="sidebar-link">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/home-page.svg" alt="home-icon" type="image/svg">
                            </div>
                            <span>Главная</span>
                        </a>
                        <a href="tables.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/tables-page.svg" alt="tables-icon" type="image/svg">
                            </div>
                            <span>Столы</span>
                        </a>
                        <a href="orders.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/orders-page.svg" alt="orders-icon" type="image/svg">
                            </div>
                            <span>Заказы</span>
                        </a>
                        <a href="booking.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/booking-page.svg" alt="booking-icon" type="image/svg">
                            </div>
                            <span>Бронирование</span>
                        </a>
                        <a href="delivery.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/delivery-page.svg" alt="delivery-icon" type="image/svg">
                            </div>
                            <span>Доставка</span>
                        </a>
                        <a href="menu.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/menu-page.svg" alt="menu-icon" type="image/svg">
                            </div>
                            <span>Меню</span>
                        </a>
                        <a href="kitchen.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/kitchen-page.svg" alt="kitchen-icon" type="image/svg">
                            </div>
                            <span>Кухня</span>
                        </a>
                        <a href="clients.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/clients-page.svg" alt="clients-icon" type="image/svg">
                            </div>
                            <span>Клиенты</span>
                        </a>
                        <a href="personal.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/personal-page.svg" alt="personal-icon" type="image/svg">
                            </div>
                            <span>Персонал</span>
                        </a>
                        <a href="analytics.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/analytics-page.svg" alt="analytics-icon" type="image/svg">
                            </div>
                            <span>Аналитика</span>
                        </a>
                        <a href="warehouse.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/warehouse-page.svg" alt="warehouse-icon" type="image/svg">
                            </div>
                            <span>Склад</span>
                        </a>
                        <a href="settings.html">
                            <div class="button-icon">
                                <img src="/media/GENERAL-media/icons/sidebar-icons/settings-page.svg" alt="settings-icon" type="image/svg">
                            </div>
                            <span>Настройки</span>
                        </a>
                    </div>
                </div>
                
                <div class="hero-current-shift">
                    <div class="shift-block">
                        <div class="shift-title">
                            Текущая смена
                        </div>
                        <div class="shift-time">
                            19:00 — 07:00
                        </div>
                    </div>
                    <button class="shift-start">
                        Начать смену
                    </button>
                </div>
                <div class="hero-logout">
                    <div class="hero-line"></div>
                    <a href="logout.html" class="button-logout">
                        <img src="/media/GENERAL-media/icons/sidebar-icons/logout-page.svg" alt="logout-icon" type="image/svg">
                        <span>Выйти</span>
                    </a>
                </div>
            </div>
            <div class="hero-main-content">
                <div class="hero-navBar">
                    <div class="formore">
                        <img src="/media/GENERAL-media/icons/navBar-icons/forMore-nav.svg" alt="forMore-icon" type="image/svg">
                    </div>
                    <div class="search-block">
                        <div class="icon-text">
                            <img src="/media/GENERAL-media/icons/navBar-icons/search-nav.svg" alt="search-icon" type="image/svg">
                            <span>Поиск по заказам, столам, клиентам ...</span>
                        </div>
                        <div class="ctrl-block">
                            <span>Ctrl /</span>
                        </div>
                    </div>
                    <div class="account-block">
                        <div class="notification-nav">
                            <img src="/media/GENERAL-media/icons/navBar-icons/notifications-nav.svg" alt="notifications-icon" type="image/svg">
                            <div class="notification-circle">
                                <span>7</span>
                            </div>
                        </div>
                        <div class="chats-nav">
                            <img src="/media/GENERAL-media/icons/navBar-icons/chats-nav.svg" alt="chats-icon" type="image/svg">
                            <div class="chats-circle">
                                <span>5</span>
                            </div>
                        </div>
                        <div class="account-line"></div>
                        <div class="personal-account-bloccInfoBoxCard-OtdelCadrov">
                            <img src="/media/GENERAL-media/icons/navBar-icons/userLogo-nav.svg" alt="userLogo-icon" type="image/svg">
                            <div class="info-personal">
                                <div class="personality">
                                   <span>Владимир</span>
                                   <span class="tochka-nevozvrata">Оффициант</span> 
                                </div>
                                <img src="/media/GENERAL-media/icons/navBar-icons/more-nav.svg" alt="more-icon" type="image/svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-content">
                    <div class="dash-cards">
                        <div class="statCard">
                            <div class="stat-Icon1">
                                <img src="/media/HOME-page-media/statCards/tablesR.svg" alt="restaurant-table-icon" type="image/svg">
                            </div>
                            <div class="stat-info">
                                <h5>Всего столов</h5>
                                <h1>24</h1>
                                <h4>4 зала</h4>
                            </div>
                        </div>
                        <div class="statCard">
                            <div class="stat-Icon2">
                                <img src="/media/HOME-page-media/statCards/tablesR.svg" alt="restaurant-table-icon" type="image/svg">
                            </div>
                            <div class="stat-info">
                                <h5>Свободно</h5>
                                <h1>12</h1>
                                <h4>50 %</h4>
                            </div>
                        </div>
                        <div class="statCard">
                            <div class="stat-Icon3">
                                <img src="/media/HOME-page-media/statCards/tablesR.svg" alt="restaurant-table-icon" type="image/svg">
                            </div>
                            <div class="stat-info">
                                <h5>Занято</h5>
                                <h1>8</h1>
                                <h4>33 %</h4>
                            </div>
                        </div>
                        <div class="statCard">
                            <div class="stat-Icon4">
                                <img src="/media/HOME-page-media/statCards/tablesR.svg" alt="restaurant-table-icon" type="image/svg">
                            </div>
                            <div class="stat-info">
                                <h5>Забранировано</h5>
                                <h1>4</h1>
                                <h4>17 %</h4>
                            </div>
                        </div>
                        <div class="statCard">
                            <div class="stat-Icon5">
                                <img src="/media/HOME-page-media/statCards/active-orders.svg" alt="active-orders-icon" type="image/svg">
                            </div>
                            <div class="stat-info">
                                <h5>Активные заказы</h5>
                                <h1>16</h1>
                                <h4>на кухне</h4>
                            </div>
                        </div>
                        <div class="statCard">
                            <div class="stat-Icon6">
                                <img src="/media/HOME-page-media/statCards/earnings.svg" alt="revenue-icon" type="image/svg">
                            </div>
                            <div class="stat-info">
                                <h5>Выручка сегодня</h5>
                                <h1>368 500 ₸</h1>
                                <div class="stat-text">
                                    <div class="lakokrasochnaya-kraska">+ 12 %</div>
                                    <div class="addition">к вчера</div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Конечная статусно-дашбордных карточек -->
                    <div class="giant-collapse-content">
                        <div class="left-collapse-content">
                            <div class="collapse-map-hall">
                                <div class="section1-title-trigger">
                                    <div class="title-trigger">
                                        <span>Карта зала</span>
                                        <div class="triggers">
                                            <button class="active-btn"><span>Основной зал</span></button>
                                            <button class="unactive"><span>VIP-зал</span></button>
                                            <button class="unactive"><span>Терасса</span></button>
                                            <button class="unactive"><span>Бар</span></button>
                                        </div>
                                    </div>
                                    <div class="section2-hall-layout">
                                        <button>
                                            <img src="/media/HOME-page-media/mapHall//icons/planhall.svg" alt="planhall-icon" type="image/svg">
                                            <span>План зала</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="section3-hall-frame">
                                    <div class="corner-frames">
                                        <div class="left-corner-frames">
                                            <img src="/media/HOME-page-media/mapHall/corner-frames/left-top-corner.svg" alt="left-top-corner-icon" type="image/svg">
                                            <img src="/media/HOME-page-media/mapHall/corner-frames/left-bottom-corner.svg" alt="left-bottom-corner-icon" type="image/svg">
                                        </div>
                                        <div class="right-corner-frames">
                                            <img src="/media/HOME-page-media/mapHall/corner-frames/right-top-corner.svg" alt="right-top-corner-icon" type="image/svg">
                                            <img src="/media/HOME-page-media/mapHall/corner-frames/right-bottom-corner.svg" alt="right-bottom-corner-icon" type="image/svg">
                                        </div>
                                    </div>
                                    <div class="tables">
                                        <div class="table-rectangle-1">
                                            <button class="rectangle" id="free">
                                                <span>06</span>
                                                <img src="/media/HOME-page-media/mapHall/icons/free.svg" alt="free-icon" type="image/svg">
                                            </button>
                                            <button class="rectangle" id="free">
                                                <span>05</span>
                                                <img src="/media/HOME-page-media/mapHall/icons/free.svg" alt="free-icon" type="image/svg">
                                            </button>
                                            <button class="rectangle" id="free">
                                                <span>04</span>
                                                <img src="/media/HOME-page-media/mapHall/icons/free.svg" alt="free-icon" type="image/svg">
                                            </button>
                                            <button class="rectangle" id="wait">
                                                <span>03</span>
                                                <span class="time-wait">22:00</span>
                                                <img src="/media/HOME-page-media/mapHall/icons/waitingtime.svg" alt="waitingtime-icon" type="image/svg">
                                            </button>
                                            <button class="rectangle" id="error">
                                                <span>02</span>
                                                <div class="guests-count-er">
                                                    <img src="/media/HOME-page-media/mapHall/icons/guests.svg" alt="guests-icon" type="image/svg">
                                                    <span>4</span>
                                                </div>
                                            </button>
                                            <button class="rectangle" id="error">
                                                <span>01</span>
                                                <div class="guests-count-er">
                                                    <img src="/media/HOME-page-media/mapHall/icons/guests.svg" alt="guests-icon" type="image/svg">
                                                    <span>2</span>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="rec-romb-tables">
                                            <div class="table-rectangle-2">
                                                <div class="rectangle" id="free">
                                                    <span>07</span>
                                                    <img src="/media/HOME-page-media/mapHall/icons/free.svg" alt="free-icon" type="image/svg">
                                                </div>
                                                <div class="rectangle" id="free">
                                                    <span>08</span>
                                                    <img src="/media/HOME-page-media/mapHall/icons/free.svg" alt="free-icon" type="image/svg">
                                                </div>
                                            </div>
                                            <div class="table-rombs">
                                                <div class="table-romb-1">
                                                    <div class="romb" id="error">
                                                        <div class="reverse">
                                                            <span>09</span>
                                                            <div class="guests-count-er">
                                                                <img src="/media/HOME-page-media/mapHall/icons/guests.svg" alt="guests-icon" type="image/svg">
                                                                <span>3</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="romb" id="error">
                                                        <div class="reverse">
                                                            <span>10</span>
                                                            <div class="guests-count-er">
                                                                <img src="/media/HOME-page-media/mapHall/icons/guests.svg" alt="guests-icon" type="image/svg">
                                                                <span>2</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="romb" id="error">
                                                        <div class="reverse">
                                                            <span>11</span>
                                                            <div class="guests-count-er">
                                                                <img src="/media/HOME-page-media/mapHall/icons/guests.svg" alt="guests-icon" type="image/svg">
                                                                <span>6</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="romb" id="wait">
                                                        <div class="reverse">
                                                            <span>12</span>
                                                            <span class="time-wait">00:25</span>
                                                            <img src="/media/HOME-page-media/mapHall/icons/waitingtime.svg" alt="waitingtime-icon" type="image/svg">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table-romb-2">
                                                    <div class="romb" id="undefined">
                                                        <div class="reverse">
                                                            <span>13</span>
                                                            <img src="/media/HOME-page-media/mapHall/icons/undefined.svg" alt="undefined-icon" type="image/svg">
                                                        </div>
                                                    </div>
                                                    <div class="romb" id="error">
                                                        <div class="reverse">
                                                            <span>14</span>
                                                            <div class="guests-count-er">
                                                                <img src="/media/HOME-page-media/mapHall/icons/guests.svg" alt="guests-icon" type="image/svg">
                                                                <span>1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="romb" id="wait">
                                                        <div class="reverse">
                                                            <span>15</span>
                                                            <span class="time-wait">19:45</span>
                                                            <img src="/media/HOME-page-media/mapHall/icons/waitingtime.svg" alt="waitingtime-icon" type="image/svg">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse-last-orders"></div>
                        </div> <!-- Конечная левого коллапсного контента -->
                        <div class="right-collapse-content">
                            <div class="collapse-info-table"></div>
                            <div class="collapse-current-delivery-order"></div>
                        </div> <!-- Конечная правого коллапсного контента -->
                    </div> <!-- Конечная гигантского коллапсного контента -->
                </div> <!-- Конечная основного контента -->
            </div> <!-- Конечная главного контента -->
        </div> 
    </div>
</body>
</html>