<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация — VOSRS</title>
    <link rel="stylesheet" href="/static/css/style-login.css">
    <link rel="stylesheet" href="/static/css/GENERAL-style.css">
    <link rel="shortcut icon" href="/media/GENERAL-media/favicon/VOS-GOD.svg" type="image/svg">
</head>
<body>
    <div class="wrapper">
        <div class="login-frame">
            <div class="login-progress-bar">
                <div class="proBar-infoCurrent">
                    <div class="model">VOSRS</div>
                    <div class="version">ver: 3.3.27.25077.01541</div>
                    <div class="proBar-line"></div>
                    <div class="current-DateTime">Среда, 03 Марта, 12:20</div>
                </div>
                <div class="proBar-GOD-V">
                    ген-директор: V(Создатель)
                </div>
            </div>
            <div class="unified-banks">
                <div class="left-bank">
                    <div class="fabulity">
                        <div class="logos-CRM">
                            <div class="logoCRM">
                                <div class="logoBuild">
                                    <!-- <div class="trademark">TM</div> -->
                                    <div class="CRM-Logo">VOS</div>
                                </div>
                                <div class="CRM-subLogo">RESTAURANT SYSTEM</div>
                            </div>
                        </div>
                        <div class="shasi">
                            <div class="legal-info-company">
                                <span>Материнская компания: АО VOSCORP</span>
                                <span>Дочерняя компания: ТОО VOS-Enterprise</span>
                                <span>Дата окончания лицензий: не дождешься с¥к@</span>
                            </div>
                            <div class="build-info-copyrights">
                                <span>VOSRS.com 2027 (3.3.27.25077.01541 build on 03 mar 2027)</span>
                                <span>Part of VOSRS 2027</span>
                                <span>Copyright © 2019-2027 VOS (Компания VOS). All rights reserved</span>
                                <span>www.voscorp.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-bank">
                    <div class="logo-restaurant">
                        <span class="v">VOS</span>
                        <span>Разместите здесь свой логотип</span>
                    </div>
                    <div class="loginForm">
                        <div class="username-field">
                            <span>Логин</span>
                            <input type="text" placeholder="vlad1996_v">
                        </div>
                        <div class="password-field">
                            <span>Пароль</span>
                            <input type="text" placeholder="Aa1234.....">
                            <a  href="forget.html" class="forget-password">
                                Опять забыл пароль?
                            </a>
                        </div>
                        <div class="loginBtn">
                            <button class="login-btn">Войти</button>
                            <span>Или используйте карточку персонала!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>